<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 px-5 py-3">
    <h2><%= t("views.user.edit") %></h2>

    <div class="row">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field my-3 col-md-6 col-sm-8">
          <i class="icon-envelope mx-1"></i>
          <%= f.label :Email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-2" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field my-3 col-md-6 col-sm-8">
          <i class="icon-lock mx-1"></i>
          <%= f.label  t(".password") %> <i>(<%= t(".pass_info") %>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control mt-2" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> <%= t("devise.passwords.edit.min") %></em>
          <% end %>
        </div>

        <div class="field my-3 col-md-6 col-sm-8">
          <i class="icon-lock mx-1"></i>
          <%= f.label t(".pass_confirmation") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mt-2" %>
        </div>

        <div class="field my-3 col-md-6 col-sm-8">
          <i class="icon-lock mx-1"></i>
          <%= f.label t(".current_pass") %> <i>(<%= t(".pass_cur_info") %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control mt-2" %>
        </div>

        <div class="actions col-md-6 col-sm-8 mb-3">
          <%= f.submit t("views.buttons.edit"), class: "btn btn-primary", data: { turbo: false } %>
        </div>
      <% end %>

      <h3><%= t(".delete_user") %></h3>

      <p><%= t(".dont_like") %> <%= button_to t("views.buttons.delete"), registration_path(resource_name), data: { turbo_confirm: t("confirmation.messages.user") }, method: :delete, class: "btn btn-danger" %></p>

      <%= link_to t("views.buttons.back"), :back %>
    </div>
  </div>
</div>
