<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 px-5 py-3">
    <h2><%= t(".change_password") %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field my-3 col-md-6 col-sm-8">
        <i class="icon-lock mx-1"></i>
        <%= f.label t(".new") %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t(".min") %>)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control mt-2" %>
      </div>

      <div class="field my-3 col-md-6 col-sm-8">
        <i class="icon-lock mx-1"></i>
        <%= f.label t(".confirmation") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mt-2" %>
      </div>

      <div class="actions">
        <%= f.submit  t("views.buttons.save"), class: "btn btn-primary my-2", data: { turbo: false } %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
