<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 px-5 py-3">
    <h2 class="pt-2"><%= t("views.user.forgot_password") %></h2>

    <div class="row">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field my-3 col-md-6 col-sm-8">
          <i class="icon-envelope mx-1"></i>
          <%= f.label :Email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-2" %>
        </div>

        <div class="actions col-md-6 col-sm-8">
          <%= f.submit  t("views.buttons.send"), class: "btn btn-primary", data: { turbo: false } %>
        </div>
      <% end %>

      <div class="py-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
