<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 px-5 py-3">
    <h2><%= t("views.nav-bar.login") %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field my-3 col-md-6 col-sm-8">
        <i class="icon-envelope mx-1"></i>
        <%= f.label :Email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-2" %>
      </div>

      <div class="field my-3 col-md-6 col-sm-8">
        <i class="icon-lock mx-1"></i>
        <%= f.label t("devise.registrations.edit.password") %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control mt-2" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "form-check-input my-2" %>
          <%= f.label t(".remember_me"), class: "my-1" %>
        </div>
      <% end %>

      <div class="actions col-md-6 col-sm-8">
        <%= f.submit t("views.nav-bar.login"), class: "btn btn-primary my-2", data: { turbo: false } %>
      </div>
    <% end %>

    <div class="py-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
